header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  top: 0px;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  flex-grow: 1;
  padding-left: 30px;
}

header a {
  color: black;
}

.logo img {
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

nav span {
  padding: 20px 10px;
  align-items: center;
}
